= form_for @clock do |f|
  - if @clock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@clock.errors.count, "error")} prohibited this clock from being saved:"
      %ul
        - @clock.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :current_player
    = f.number_field :current_player
  .field
    = f.label :player_one_time
    = f.text_field :player_one_time
  .field
    = f.label :player_two_time
    = f.text_field :player_two_time
  .field
    = f.label :key
    = f.text_field :key

#sharebox
  .name Share this clock:
  = link_to "Link", key_view_clock_path(@clock.key)
= form_for @switched_clock do |f|
  #playersbox
    = f.label :active
    #clockstatus{:class => ("active" if @clock.active)}
      Paused
    = f.check_box :active
    #p1box.clockbox{:class => ("active" if @clock.current_player == 1)}
      .name Player 1
      .switch 
          = f.hidden_field :current_player
          .actions
            = f.submit 'Switch'
      .time
        .hours
          = "%02d" % @clock.player_one_hours
        = ":"
        .minutes
          = "%02d" % @clock.player_one_mins
        = ":"
        .seconds
          = "%02d" % @clock.player_one_secs
    #p2box.clockbox{:class => ("active" if @clock.current_player == 2)}
      .name Player 2
      .switch 
        = form_for @switched_clock do |f|
          = f.hidden_field :current_player
          .actions
            = f.submit 'Switch'
      .time
        .hours
          = "%02d" % @clock.player_two_hours
        = ":"
        .minutes
          = "%02d" % @clock.player_two_mins
        = ":"
        .seconds
          = "%02d" % @clock.player_two_secs
  #optionsbox
    .name Options
    %table
      %thead
        %tr
          %td Set Time
          %td
      %tbody
        %tr
          %td Player 1
          %td
        %tr
          %td Player 2
          %td
        %tr
          %td
          %td
            = f.submit 'Save'
