%p#notice= notice

Key View!

%p
  %b Active:
  = @clock.active ? "Running" : "Paused"
%p
  %b Current player:
  = "Player #{@clock.current_player}"
%p
  %b Player one time:
  = @clock.player_one_time
%p
  %b Player two time:
  = @clock.player_two_time

%p
  %b Share this clock:
  = "/#{@clock.key}"

= link_to 'Back', root_path
