%p#notice= notice

#sharebox
  .name Share this clock:
  = link_to "Link", key_view_clock_path(@clock.key)
  #sharecopy{'title' => "Click to copy shareable link", 'data-href' => key_view_clock_path(@clock.key)}
    %span.fa.fa-files-o &nbsp;
#theclock{'data-key' => @clock.key, :class => ("active" if @clock.active)}
  #controlsbox
    #startbtn.btn Start
    #pausebtn.btn Pause
    #resetbtn.btn Reset
  #playersbox
    #p1box.clockbox{:class => ("active" if @clock.current_player == 1)}
      .name Player 1
      .time
        = "#{("%02d" % @clock.player_one_hours)}:#{("%02d" % @clock.player_one_mins)}:#{("%02d" % @clock.player_one_secs)}"
    #p2box.clockbox{:class => ("active" if @clock.current_player == 2)}
      .name Player 2
      .time
        = "#{("%02d" % @clock.player_two_hours)}:#{("%02d" % @clock.player_two_mins)}:#{("%02d" % @clock.player_two_secs)}"
  #optionsbox
    .name Modify Player Times
    .halfbox
      %table#p1times
        %tbody
          %tr
            %td Hours
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => 36000} +10
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => 3600} +1
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => -3600} -1
          %tr
            %td Minutes
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => 600} +10
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => 60} +1
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => -60} -1
          %tr
            %td Seconds
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => 10} +10
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => 1} +1
            %td
              .btn{"data-player" => "player_one_time", "data-player-loc" => "#p1box", "data-value" => -1} -1
    .halfbox
      %table#p2times
        %tbody
          %tr
            %td Hours
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => 36000} +10
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => 3600} +1
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => -3600} -1
          %tr
            %td Minutes
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => 600} +10
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => 60} +1
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => -60} -1
          %tr
            %td Seconds
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => 10} +10
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => 1} +1
            %td
              .btn{"data-player" => "player_two_time", "data-player-loc" => "#p2box", "data-value" => -1} -1
