%p#notice= notice

#sharebox
  .name Share this clock:
  = link_to "Link", key_view_clock_path(@clock.key)
  #sharecopy{'title' => "Click to copy shareable link", 'data-href' => key_view_clock_path(@clock.key)}
    %span.fa.fa-files-o &nbsp;
#theclock{'data-key' => @clock.key, :class => ("active" if @clock.active)}
  #controlsbox
    #startbtn.btn Start
    #pausebtn.btn Pause
    #resetbtn.btn Reset
  #playersbox
    #p1box.clockbox{:class => ("active" if @clock.current_player == 1)}
      .name Player 1
      .time
        = "#{("%02d" % @clock.player_one_hours)}:#{("%02d" % @clock.player_one_mins)}:#{("%02d" % @clock.player_one_secs)}"
    #p2box.clockbox{:class => ("active" if @clock.current_player == 2)}
      .name Player 2
      .time
        = "#{("%02d" % @clock.player_two_hours)}:#{("%02d" % @clock.player_two_mins)}:#{("%02d" % @clock.player_two_secs)}"
  #optionsbox
    .name Modify Player Times
    %table#p1times
      %tbody
        %tr
          %td Manually Change
          %td
            %input{:type => "text", :value => @clock.player_one_time} 
        %tr
          %td Add Time
          %td
            .btn +1 Min
        %tr
          %td
          %td
            .btn +30 Sec
        %tr
          %td
          %td
            .btn +1 Sec
    %table#p2times
      %tbody
        %tr
          %td Manually Change
          %td
            %input{:type => "text", :value => @clock.player_two_time} 
        %tr
          %td Add Time
          %td
            .btn +1 Min
        %tr
          %td
          %td
            .btn +30 Sec
        %tr
          %td
          %td
            .btn +1 Sec
